.Toolbar {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ff4e5d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  box-sizing: border-box;
  z-index: 90;
  color: white;
}

.Toolbar nav {
  height: 100%;
}

.toolbar-logo {
  left: 0rem;
  position: relative;
}

.toolbar-logo a {
  color: #ff4e5d;
  text-decoration: none;
  font-size: 1.5rem;
  left: 1rem;
}
.logoImage {
  width: auto;
  height: 26px;
}
